body > nav.navbar-static-top {
    position: fixed;
    z-index: 100;
    width: 100%;
}
.sidebar {
    background: #272822;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    top: 50px;
    padding-top: 9%;
    -webkit-animation:SpeedIn ease 1.5s;
    -webkit-animation-iteration-count:1;
    -webkit-transform-origin:;
    -webkit-animation-fill-mode:forwards;
    -moz-animation:SpeedIn ease 1.5s;
    -moz-animation-iteration-count:1;
    -moz-transform-origin:;
    -moz-animation-fill-mode:forwards;
    -ms-animation:SpeedIn ease 1.5s;
    -ms-animation-iteration-count:1;
    -ms-transform-origin:;
    -ms-animation-fill-mode:forwards;
}
.sidebar > h2 {
    font-family: "Homestead Inline", "Glyphicons Halflings";
    margin-bottom: -12px;
}
.sidebar > img {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.sidebar > img:hover {
     -webkit-transform: rotate(120deg);
     -moz-transform: rotate(120deg);
     -o-transform: rotate(120deg);
     -ms-transform: rotate(120deg);
     transform: rotate(120deg);
}
.sidebar > p {
    font-style: italic;
    font-size: 20px;
}
@media(max-width: 960px){
    .sidebar {
        display: none;
    }
}
@-moz-keyframes SpeedIn{
    0%{
        left:-300px;
        top:50px;
        opacity:0.2;
        -moz-transform:rotate(0deg) scaleX(1) scaleY(1);
    }
    60%{
        left:30px;
        opacity:0.8;
    }
    80%{
        left:-20px;
        opacity:0.9;
    }
    100%{
        left:0px;
        top:50px;
        opacity:1;
        -moz-transform:rotate(0deg) scaleX(1) scaleY(1);
    }
}
@-webkit-keyframes SpeedIn{
    0%{
        left:-300px;
        top:50px;
        opacity:0.2;
        -webkit-transform:rotate(0deg) scaleX(1) scaleY(1);
    }
    60%{
        left:30px;
        opacity:0.8;
    }
    80%{
        left:-20px;
        opacity:0.9;
    }
    100%{
        left:0px;
        top:50px;
        opacity:1;
        -webkit-transform:rotate(0deg) scaleX(1) scaleY(1);
    }
}
@-ms-keyframes SpeedIn{
    0%{
        left:-300px;
        top:50px;
        opacity:0.2;
        -ms-transform:rotate(0deg) scaleX(1) scaleY(1);
    }
    60%{
        left:30px;
        opacity:0.8;
    }
    80%{
        left:-20px;
        opacity:0.9;
    }
    100%{
        left:0px;
        top:50px;
        opacity:1;
        -ms-transform:rotate(0deg) scaleX(1) scaleY(1);
    }
}

div.container-fluid a{
    color: #ffffff;
}
div.container-fluid a:hover,
div.container-fluid a:focus {
    background: #5db2ff;
}
div.container-fluid ul.nav {
    margin-top: 20px;
}
div.container-fluid div.main {
    position: relative;
    top: 50px;
    padding-left: 30px;
}

div.container-fluid div.main table.table a,
a:hover,
a:focus,
a:visited {
    background-color: transparent;
}
div.container-fluid div.main table.table a {
    color: #272822;
    margin-left: 12px;
}
div.container-fluid div.main table.table a:hover,
a:focus {
    color: #f92672;
}
div.container-fluid div.main table.table a:visited {
    color: blue;
}
div.main table.table > tbody > tr > td:first-child {
    width: 10%;
    color: #5f9ea0;
    font-size: 20px;
    text-shadow: 6px 6px 6px; /*! text-shadow: 6px 6px 6px yellow; */
    vertical-align: middle;
}
div.main table.table > tbody > tr > td:last-child {
    font-size: 16px;
    vertical-align: middle;
}
div.main table.table > tbody > tr > td:last-child > p {
    margin: 0px;
    text-indent: -12px;  /*! <p>元素自动换行后对齐*/
    text-align: left;
}