body {
	margin: 0;
	font-size: 62.5%;
	background: #E4E4E4;
}
body > header {
	background-color: #393A44;
	padding-left: 10%;
	height: 60px;
}
#logo {
	float: left;
	width: 60px;
	height: 60px;
}
header nav {
	height: 60px;
	padding-left: 6%;
}
header nav > li.item {
	display: inline-block;
	margin: 14px 10px;
}
nav li.item > a {
	text-decoration: none;
	color: #ffffff;
	font-size: 22px;
	font-family: 方正舒体,courier,sans-serif;
}
header .hideLink {
	display: none;
	overflow: hidden;
	background-color: #ffffff;
	position: relative;
	left: 540px;
	top: -16px;
	width: 66px;
	padding: 6px 0;
}
.hideLink ul {
	padding-left: 9px;
	margin: 0;
}
.hideLink a {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #50A200;
}
body > aside {
	float: left;
	background-color: #393A44;
	width: 120px;
	height: 1400px;
	padding-top: 22px;
}
aside > h1 {
	margin-left: 20px;
	color: #ffffff;
	font-size: 20px;
}
aside > h1:hover {
	color: yellow;
}
aside > h2 {
	margin: 16px 20px;
	color: #ffffff;
	font-size: 19px;
}
aside > ul {
	display: none;
	font-size: 16px;
	position: relative;
	left: 9px;
	top: -6px;
	color: #ffffff;
	text-decoration: underline;
}
aside > ul > li:hover {
	color: yellow;
}

body #allTheLinks {
	background-color: #F5F5F5;
	margin: 5% 6% 5% 15%;
}
div#allTheLinks > table {
	padding-top: 20px;
	margin: auto;
}
td:first-child {
	width: 100px;
	font-size: 22px;
	text-shadow: 3px 3px 5px red;
}
td:last-child {
	padding-left: 24px;
	font-size: 14px;
	white-space: nowrap;
}
td:last-child>a {
	margin-right: 12px;
	color: #000000;
	text-decoration: none;
	text-align: left;
}
td:last-child>a:visited {
	color: blue;
}
td:last-child>a:hover {
	color: red;
	text-decoration: underline;
}
